* {
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #FCFCFC;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none
}

/* 左侧菜单栏和上方标题栏 */
.jump{
    color:#FCFCFC;
}

#box {
    width: 100%;
    position: relative;
}

#header {
    height: 70px;
    width: 100%;
    background-color: #1A1B20;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    z-index: 2;
}

#header_content {
    width: 100%;
    height: 70px;
    margin: auto;
}

#header_content .left_content_text {
    float: left;
    display: block;
    height: 70px;
    width: 200px;
    line-height: 70px;
    font-size: 20px;
    color: #FCFCFC;
}

#header_content img {
    height: 70px;
    width: 180px;
    display: block;
    float: left;
    margin-right: 15px;
}

#header_content .right_content_user_settings {
    float: right;
    display: block;
    height: 70px;
    width: 200px;
    font-size: 15px;
    color: #FCFCFC;
}

#admin {
    width: 100px;
    padding-left: 20px;
    height: 70px;
    line-height: 70px;
}

#admin span {
    float: left;
}

#admin img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-top: 25px;
}

#admin_settings li {
    width: 100px;
    height: 40px;
    color: #1A1B20;
    background-color: #1A1B20;
    text-align: center;
    line-height: 40px;
    color: #FCFCFC;
}

#admin_settings li:hover {
    background-color: #009688;
    color: #FCFCFC;
}

#menu {
    height: 100%;
    background: #1A1B20;
    position: fixed;
    z-index: 2;
    top: 70px;
    width:200px;
    float:left;
}

#info {
    width: 1100px;
    position: absolute;
    top: 80px;
    right: 0px;
    background: #FFFFFF;
    text-align: center
}

.menu li {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background: #1A1B20;
    color: white;
    font-size: 15px;
    display: block;
}

.menu li:hover {
    background: #009688 !important;
}

.menu img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.user_menu li {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background-color: #1A1B20;
    color: white;
    display: block;
    font-size: 15px;
}

.enroll_menu li {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background: #1A1B20;
    color: white;
    display: block;
    font-size: 15px;
}

.introduce_menu li {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background: #1A1B20;
    color: white;
    display: block;
    font-size: 15px;
}

.teacher_menu li {
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background: #1A1B20;
    color: white;
    display: block;
    font-size: 15px;
}

/* 展示教师信息的界面 */
#schoolInfo{
    
    position: fixed;
    left: 200px;
    height: 1000px;
    width: 100%;
}
#schoolInfoMenu{
    top: 70px;
    width: 100%;
    position: absolute;
}
.schoolInfoMenu{
    width: 100%;
    background: black;
    height: 50px;

}
.schoolInfoMenu li{
    position: relative;
    left: 200px;
    float: left;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    background: #1A1B20;
    color: white;
    font-size: 15px;
    display: block;
}
.schoolInfoMenu li:hover{
    background-color: #009688;
    color: #FCFCFC;
}
#inputName {
    width: 260px;
    height: 35px;
    float:left;
    margin-top: 100px;
    margin-left:240px;
    text-indent: 8px;
    private: relative;
    background: #ffffff;
    border: 2px solid #009688;
}

.box0{
    float: left;
    margin-top: 100px;
    margin-left:240px;
}
.box1{
    float: left;
    margin-top: 20px;
    width:2000px;
}

.box2{
    float: left;
    margin-top: 20px;
    margin-left:240px;
}

.box3{
	margin-left:50px;
    margin-top: 120px;
    text-align: center;
}


.box4 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.box5 {
    margin: 0 auto;
    font-size: 18px;
}
/* 添加教师的界面  */
.addBox2{
    margin:0 auto;
    position: relative;
    padding: 0 20px;
}
#addTitle{
    margin-top:60px;
    font-size:36px;
    color:#009688;
}
.addInput{
    width:500px;
    height:50px;
    text-indent: 8px;
}
.picBox{
    text-align:center;
    margin-top:26px;
}
.chooseBox{
    width:500px;
    height:50px;
    border:1px solid #767676;
}
.chooseFile{
    width:500px;
    line-height:50px;
}
#submitAddInfo{
    width:500px;
    height:50px;
    border: none;
    color: #ffffff;
    background: #009688;
}
#environment{
	margin-top:100px;
	margin-left:300px;
}

/* 修改教师信息的界面 */
.editBox1{
    width:80%;
    text-align:center;
    margin-top:150px;
}
.updateBox1{
    width:160px;
    margin-top:20px;
    margin-left:120px;
    float:left;
    position:relative;
}
#text{
    font-size:21px;
    color:#62656B;
}
#oldImg{
    width:160px;
    height:200px;
}
.updateBox2{
    width:500px;
    margin:0 auto;
}
#updateTitle{
    margin-top:60px;
    font-size:36px;
    color:#009688;
}
.updateBox3{
    width:500px;
    height:50px;
    text-indent: 8px;
}
.updateBox4{
    width:100px;
    height:50px;
    font-size:18px;
    line-height:50px;
    float:left;
    position:relative;
}
.updateInput{
    width:380px;
    height:50px;
    text-indent: 8px;
    float:left;
    position:relative;
}
#updateImgFile{
    width:385px;
    line-height:50px;
    float:left;
    position:relative;
}
.updateBox5{
    width:385px;
    height:50px;
    border:1px solid #767676;
    float:left;
    position:relative;
}
#submitUpdate{
    width:300px;
    height:50px;
    background:#009688;
    border:none;
    color:#ffffff;
    font-size:16px;
    margin-top:20px;
}
#submitSearch {
    width: 80px;
    height: 39px;
    margin-top:20px;
    border: none;
    color: #ffffff;
    background: #009688;
}
.day_div{
	line-height: 70px;
}
.day_span{
	margin-left: 100px;
}
#input_day{
	height: 30px;
	width: 200px;
}
.submit_div{
	line-height: 70px;
	text-align: center;
}
#submit_button{
	width: 110px;
	height: 39px;
	border: none;
	color: #ffffff;
	background: #009688;
}
.error_info{
	line-height: 50px;
	color: red;
}
.leave_div{
	line-height: 70px;
}